<app-navbar></app-navbar>
<div class="container">
    <section class="categorias">


        <h3>Featured items</h3>
        <div class="box-categories">
            <div class="box-categories__item">
                <div class="box-categories__item--image">
                    <img width="100" src="https://pngimg.com/uploads/burger_sandwich/burger_sandwich_PNG10528.png" alt="">
                </div>
                <span class="box-categories__item--title">Sandwich</span>
            </div>
            <div class="box-categories__item">
                <div class="box-categories__item--image">
                    <img width="100" src="https://pngimg.com/uploads/burger_sandwich/burger_sandwich_PNG10528.png" alt="">
                </div>
                <span class="box-categories__item--title">Egg Bites</span>

            </div>
            <div class="box-categories__item">
                <div class="box-categories__item--image">
                    <img width="100" src="https://pngimg.com/uploads/burger_sandwich/burger_sandwich_PNG10528.png" alt="">
                </div>
                <span class="box-categories__item--title">Waffes</span>
            </div>
            <div class="box-categories__item">
                <div class="box-categories__item--image">
                    <img width="100" src="https://pngimg.com/uploads/burger_sandwich/burger_sandwich_PNG10528.png" alt="">
                </div>
                <span class="box-categories__item--title">Coffe</span>
            </div>
        </div>
    </section>
    <section class="drink">
        <h3>Drinks</h3>
        <div class="box-drink">

            <div class="box-drink__item">
                <div class="box-drink__item-image">
                    <img style="max-width: 100%;" src="https://images.unsplash.com/photo-1514432324607-a09d9b4aefdd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                </div>
                <div class="box-drink__item-description">
                    <span class="box-drink__item-title">Iced Coffe Latte</span>
                    <span class="box-drink__item-content">
                      Milk, Ice, Brewed
                  </span>
                    <small class="box-drink__item-category">Expreso</small>
                    <span class="box-drink__item-value">$2.25</span>
                    <button class="box-drink__item-button" mat-icon-button color="primary" aria-label="more">
                      <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
            <div class="box-drink__item">
                <div class="box-drink__item-image">
                    <img style="max-width: 100%;" src="https://images.unsplash.com/photo-1559141680-d0bd7bc5af84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" alt="">
                </div>
                <div class="box-drink__item-description">
                    <span class="box-drink__item-title">Iced Coffe Latte</span>
                    <span class="box-drink__item-content">
                      Milk, Ice, Brewed
                  </span>
                    <small class="box-drink__item-category">Expreso</small>
                    <span class="box-drink__item-value">$2.25</span>
                    <button class="box-drink__item-button" mat-icon-button color="primary" aria-label="more">
                      <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
            <div class="box-drink__item">
                <div class="box-drink__item-image">
                    <img style="max-width: 100%;" src="https://images.unsplash.com/photo-1586508423576-2be174db52bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                </div>
                <div class="box-drink__item-description">
                    <span class="box-drink__item-title">Iced Coffe Latte</span>
                    <span class="box-drink__item-content">
                      Milk, Ice, Brewed
                  </span>
                    <small class="box-drink__item-category">Expreso</small>
                    <span class="box-drink__item-value">$2.25</span>
                    <button class="box-drink__item-button" mat-icon-button color="primary" aria-label="more">
                      <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>




        </div>
    </section>
</div>
